fastapi
uvicorn[standard]
pydantic
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-dotenv

# For Google OAuth & JWT
python-multipart
google-auth-oauthlib
requests

# For Keyword Extraction
nltk
joblib
regex
tqdm

# For Korean NLP
konlpy
JPype1
numpy
lxml